<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- update this connection string to work for your database -->
    <add name="NLog" connectionString="Data Source=WLW10-PAWANN; Initial Catalog=Log4NetDB;User ID=sa;password=MsSql@2017;Connection Timeout=600;" providerName="System.Data.SqlClient" />
  </connectionStrings>
 <appSettings>
    <add key ="caCertLocation" value=".\cacert.pem"/>
    <add key="eventHubsNamespaceURL" value="kafkapoc.servicebus.windows.net:9093"/>
    <add key="eventHubName" value="test"/>
    <add key="eventHubsConnStr" value="Endpoint=sb://kafkapoc.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=wJ+D5mzqQD8bfCdJdI37xWTJBB1ijJfd3wWwykcp4kc="/>
  </appSettings>
</configuration>